{{define "partials/properties-by-area.html"}}
<!-- Properties by Area -->
<section class="mt-16">
  <div class="mx-auto max-w-[85rem] px-4">
    <!-- Title -->
    <div class="text-center mt-[72px] mb-[30px]">
      <h2 class="text-[40px] font-medium leading-[60px]">
        Properties by <span class="text-primary">Area</span>
      </h2>
    </div>

    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 h-[350px]">
      <a href="/search" class="relative rounded-xl overflow-hidden block group">
        <img
          src="/assets/images/areas/area1.png"
          class="h-full w-full object-cover transition group-hover:scale-105"
          alt="Gulshan 2"
        />
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute bottom-0 p-4 text-white">
          <div class="font-semibold text-[27px]">Gulshan</div>
          <div class="text-subtext text-white/80">15 Properties</div>
        </div>
      </a>
      <a href="/search" class="relative rounded-xl overflow-hidden block group">
        <img
          src="/assets/images/areas/area2.png"
          class="h-full w-full object-cover transition group-hover:scale-105"
          alt="Bashundhara R/A"
        />
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute bottom-0 p-4 text-white">
          <div class="font-semibold text-[27px]">Bashundhara</div>
          <div class="text-subtext text-white/80">56 Properties</div>
        </div>
      </a>
      <a href="/search" class="relative rounded-xl overflow-hidden block group">
        <img
          src="/assets/images/areas/area3.png"
          class="h-full w-full object-cover transition group-hover:scale-105"
          alt="Malibagh"
        />
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute bottom-0 p-4 text-white">
          <div class="font-semibold text-[27px]">Malibagh</div>
          <div class="text-subtext text-white/80">25 Properties</div>
        </div>
      </a>
      <a href="/search" class="relative rounded-xl overflow-hidden block group">
        <img
          src="/assets/images/areas/area4.png"
          class="h-full w-full object-cover transition group-hover:scale-105"
          alt="Uttara"
        />
        <div class="absolute inset-0 bg-black/40"></div>
        <div class="absolute bottom-0 p-4 text-white">
          <div class="font-semibold text-[27px]">Uttara</div>
          <div class="text-subtext text-white/80">17 Properties</div>
        </div>
      </a>
    </div>
  </div>
</section>
{{end}}
