{{define "partials/services.html"}}
<!-- Our Services -->
<section class="mt-16">
  <div class="mx-auto max-w-[85rem] px-4">
    <h2 class="text-section font-medium text-center mb-6">Our Services</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="bg-white border rounded-xl p-5 card-hover cursor-default">
        <div class="items-center justify-center stretch">
          <img src="/assets/icons/keys.svg" alt="Property Rental" />
        </div>
        <div class="font-semibold mb-1">Property Rental</div>
        <p class="text-sm text-subtext">
          Short or long term, furnished or unfurnished, in your area.
        </p>
      </div>
      <div class="bg-white border rounded-xl p-5 card-hover cursor-default">
        <div
          class="h-12 w-12 rounded-full bg-secondary flex items-center justify-center mb-3"
        >
          <div class="h-6 w-6 border-2 border-primary rounded"></div>
        </div>
        <div class="font-semibold mb-1">Property Management</div>
        <p class="text-sm text-subtext">
          We manage for homeowners and businesses — we care like it's ours.
        </p>
      </div>
      <div class="bg-white border rounded-xl p-5 card-hover cursor-default">
        <div
          class="h-12 w-12 rounded-full bg-secondary flex items-center justify-center mb-3"
        >
          <div class="h-6 w-6 border-2 border-primary rounded"></div>
        </div>
        <div class="font-semibold mb-1">Buy/Sell Property</div>
        <p class="text-sm text-subtext">
          Over 500 property deals brokered across Bangladesh in 20 years.
        </p>
      </div>
      <div class="bg-white border rounded-xl p-5 card-hover cursor-default">
        <div
          class="h-12 w-12 rounded-full bg-secondary flex items-center justify-center mb-3"
        >
          <div class="h-6 w-6 border-2 border-primary rounded"></div>
        </div>
        <div class="font-semibold mb-1">Hotel Management</div>
        <p class="text-sm text-subtext">
          Hotel management in Cox's Bazar and St. Martin's.
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}
