{{define "partials/testimonials.html"}}
<!-- Testimonials -->
<section class="mt-16 mb-20">
  <div class="mx-auto max-w-[85rem] px-4">
    <!-- Title -->
    <div class="text-center mt-[72px] mb-[50px]">
      <h2 class="text-[40px] font-medium leading-[60px]">Testimonials</h2>
    </div>

    <div class="grid md:grid-cols-3 gap-6">
      <!-- First Testimonial -->
      <div class="relative w-full text-[#535353]">
        <!-- Avatar -->
        <div
          class="absolute left-1/2 top-0 transform -translate-x-1/2 -translate-y-1/2 z-10"
        >
          <img
            src="/assets/icons/avatar-1.svg"
            class="w-[50px] h-[50px] bg-[#FF8A8A] rounded-full"
            alt="Ahmed Avatar"
          />
        </div>
        <!-- Testimonial Body -->
        <div
          class="relative w-full h-[250px] bg-[#FFE9E8] shadow-lg overflow-hidden rounded-[20px]"
        >
          <!-- Quote Start Icon -->
          <div
            class="absolute w-[85px] h-[85px] left-[8px] top-[0px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-start.svg"
              class="absolute"
              alt="Quote Start"
            />
          </div>
          <!-- Quote End Icon -->
          <div
            class="absolute w-[85px] h-[55px] bottom-[0px] right-[8px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-end.svg"
              class="absolute"
              alt="Quote End"
            />
          </div>
          <!-- Testimonial Text -->
          <div
            class="absolute w-[285px] left-[40px] top-[90px] text-[19px] break-words"
          >
            Sold my plot fast with Dhaka Homes! Great team
          </div>
          <!-- Name and Role -->
          <div
            class="absolute left-[40px] top-[160px] text-subtext text-[#535353]"
          >
            Ahmed, Owner
          </div>
        </div>
      </div>

      <!-- Second Testimonial -->
      <div class="relative w-full text-[#FFFFFF]">
        <!-- Avatar -->
        <div
          class="absolute left-1/2 top-0 transform -translate-x-1/2 -translate-y-1/2 z-10"
        >
          <img
            src="/assets/icons/avatar-2.svg"
            class="w-[50px] h-[50px] bg-[#8ABAFF] rounded-full"
            alt="Sarah Avatar"
          />
        </div>
        <!-- Testimonial Body -->
        <div
          class="relative w-full h-[250px] bg-[#F44335] shadow-lg overflow-hidden rounded-[20px]"
        >
          <!-- Quote Start Icon -->
          <div
            class="absolute w-[85px] h-[85px] left-[8px] top-[0px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-start.svg"
              class="absolute"
              alt="Quote Start"
            />
          </div>
          <!-- Quote End Icon -->
          <div
            class="absolute w-[85px] h-[55px] bottom-[0px] right-[8px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-end.svg"
              class="absolute"
              alt="Quote End"
            />
          </div>
          <!-- Testimonial Text -->
          <div
            class="absolute w-[285px] left-[40px] top-[68px] text-[19px] break-words"
          >
            Dhaka Homes transformed how I manage my properties in Bangladesh.
            The remote access is a game-changer!
          </div>
          <!-- Name and Role -->
          <div
            class="absolute left-[40px] top-[190px] text-subtext text-[#FFFFFF]"
          >
            Sarah, Owner
          </div>
        </div>
      </div>

      <!-- Third Testimonial -->
      <div class="relative w-full text-[#535353]">
        <!-- Avatar -->
        <div
          class="absolute left-1/2 top-0 transform -translate-x-1/2 -translate-y-1/2 z-10"
        >
          <img
            src="/assets/icons/avatar-3.svg"
            class="w-[50px] h-[50px] bg-[#8AFF8A] rounded-full"
            alt="John Avatar"
          />
        </div>
        <!-- Testimonial Body -->
        <div
          class="relative w-full h-[250px] bg-[#FFE9E8] shadow-lg overflow-hidden rounded-[20px]"
        >
          <!-- Quote Start Icon -->
          <div
            class="absolute w-[85px] h-[85px] left-[8px] top-[0px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-start.svg"
              class="absolute"
              alt="Quote Start"
            />
          </div>
          <!-- Quote End Icon -->
          <div
            class="absolute w-[85px] h-[55px] bottom-[0px] right-[8px] overflow-hidden"
          >
            <img
              src="/assets/icons/quote-end.svg"
              class="absolute"
              alt="Quote End"
            />
          </div>
          <!-- Testimonial Text -->
          <div
            class="absolute w-[285px] left-[40px] top-[90px] text-[19px] break-words"
          >
            Bought my dream home smoothly. Thanks!
          </div>
          <!-- Name and Role -->
          <div
            class="absolute left-[40px] top-[165px] text-subtext text-[#535353]"
          >
            John, Buyer
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
