{{define "partials/why-dhakahome.html"}}
<!-- Why DhakaHome Best -->
<section class="mt-16">
  <div class="mx-auto max-w-[85rem] px-4">
    <h2 class="text-section font-medium text-center mb-6">
      Why <span class="text-primary">Dhaka Home</span> is the Best Choice?
    </h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <div
        class="bg-white border rounded-xl p-6 text-center card-hover cursor-default"
      >
        <div
          class="mx-auto mb-2 h-10 w-10 border-2 border-primary rounded"
        ></div>
        <div class="font-semibold">20 Years Experience</div>
      </div>
      <div
        class="bg-white border rounded-xl p-6 text-center card-hover cursor-default"
      >
        <div
          class="mx-auto mb-2 h-10 w-10 border-2 border-primary rounded"
        ></div>
        <div class="font-semibold">2,000 Apartment Sold</div>
      </div>
      <div
        class="bg-white border rounded-xl p-6 text-center card-hover cursor-default"
      >
        <div
          class="mx-auto mb-2 h-10 w-10 border-2 border-primary rounded"
        ></div>
        <div class="font-semibold">4,000 Plot Sold</div>
      </div>
      <div
        class="bg-white border rounded-xl p-6 text-center card-hover cursor-default"
      >
        <div
          class="mx-auto mb-2 h-10 w-10 border-2 border-primary rounded"
        ></div>
        <div class="font-semibold">9,000 Clients</div>
      </div>
    </div>
  </div>
</section>
{{end}}
