{{define "partials/why-dhakahome.html"}}
<!-- Why DhakaHome Best -->
<section class="mt-16">
  <div class="mx-auto max-w-[85rem] px-4">
    <!-- Title -->
    <div class="text-center mt-[120px] mb-[30px]">
      <h2 class="text-[40px] font-medium leading-[60px]">
        Why <span class="text-primary">Dhaka Home</span> is the Best Choice?
      </h2>
    </div>

    <!-- Why Best Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
      <!-- Experience -->
      <div
        class="group w-full relative overflow-hidden rounded-[10px] border-[3px] border-[#424242] hover:border-[#F44335] p-[15px] flex flex-col items-center transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg cursor-pointer"
      >
        <div class="mt-[30px] mb-[20px] flex justify-center">
          <div
            class="w-[90px] h-[90px] transition-all duration-300 ease-in-out bg-[#3B3B3B] group-hover:bg-[#F44335]"
            style="
              mask: url('/assets/icons/badge-stars.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask: url('/assets/icons/badge-stars.svg') no-repeat
                center;
              -webkit-mask-size: contain;
            "
          ></div>
        </div>
        <h3
          class="text-[45px] font-medium leading-[42px] text-[#3B3B3B] group-hover:text-[#F44335] text-center mt-[20px] mb-[10px] transition-colors duration-300 ease-in-out"
        >
          20
        </h3>
        <p
          class="text-[20px] mb-[20px] font-normal leading-[34px] text-[#767676] group-hover:text-[#F44335] text-center px-[15px] transition-colors duration-300 ease-in-out"
        >
          Years Experience
        </p>
      </div>

      <!-- Apartments Sold -->
      <div
        class="group w-full relative overflow-hidden rounded-[10px] border-[3px] border-[#424242] hover:border-[#F44335] p-[15px] flex flex-col items-center transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg cursor-pointer"
      >
        <div class="mt-[30px] mb-[20px] flex justify-center">
          <div
            class="w-[90px] h-[90px] transition-all duration-300 ease-in-out bg-[#3B3B3B] group-hover:bg-[#F44335]"
            style="
              mask: url('/assets/icons/home-sold.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask: url('/assets/icons/home-sold.svg') no-repeat center;
              -webkit-mask-size: contain;
            "
          ></div>
        </div>
        <h3
          class="text-[45px] font-medium leading-[42px] text-[#3B3B3B] group-hover:text-[#F44335] text-center mt-[20px] mb-[10px] transition-colors duration-300 ease-in-out"
        >
          2,000
        </h3>
        <p
          class="text-[20px] mb-[20px] font-normal leading-[32px] text-[#767676] group-hover:text-[#F44335] text-center px-[10px] transition-colors duration-300 ease-in-out"
        >
          Apartments Sold
        </p>
      </div>

      <!-- Plots Sold -->
      <div
        class="group w-full relative overflow-hidden rounded-[10px] border-[3px] border-[#424242] hover:border-[#F44335] p-[15px] flex flex-col items-center transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg cursor-pointer"
      >
        <div class="mt-[30px] mb-[20px] flex justify-center">
          <div
            class="w-[90px] h-[90px] transition-all duration-300 ease-in-out bg-[#3B3B3B] group-hover:bg-[#F44335]"
            style="
              mask: url('/assets/icons/plot-sold.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask: url('/assets/icons/plot-sold.svg') no-repeat center;
              -webkit-mask-size: contain;
            "
          ></div>
        </div>
        <h3
          class="text-[45px] font-medium leading-[42px] text-[#3B3B3B] group-hover:text-[#F44335] text-center mt-[20px] mb-[10px] transition-colors duration-300 ease-in-out"
        >
          4,000
        </h3>
        <p
          class="text-[20px] mb-[20px] font-normal leading-[31px] text-[#767676] group-hover:text-[#F44335] text-center px-[15px] transition-colors duration-300 ease-in-out"
        >
          Plots Sold
        </p>
      </div>

      <!-- Total Clients -->
      <div
        class="group w-full relative overflow-hidden rounded-[10px] border-[3px] border-[#424242] hover:border-[#F44335] p-[15px] flex flex-col items-center transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-lg cursor-pointer"
      >
        <div class="mt-[30px] mb-[20px] flex justify-center">
          <div
            class="w-[90px] h-[90px] transition-all duration-300 ease-in-out bg-[#3B3B3B] group-hover:bg-[#F44335]"
            style="
              mask: url('/assets/icons/client-man.svg') no-repeat center;
              mask-size: contain;
              -webkit-mask: url('/assets/icons/client-man.svg') no-repeat center;
              -webkit-mask-size: contain;
            "
          ></div>
        </div>
        <h3
          class="text-[45px] font-medium leading-[42px] text-[#3B3B3B] group-hover:text-[#F44335] text-center mt-[20px] mb-[10px] transition-colors duration-300 ease-in-out"
        >
          9,000
        </h3>
        <p
          class="text-[20px] mb-[20px] font-normal leading-[29px] text-[#767676] group-hover:text-[#F44335] text-center px-[15px] transition-colors duration-300 ease-in-out"
        >
          Clients
        </p>
      </div>
    </div>
  </div>
</section>
{{end}}
